:root{
  --myColor100: #CAF0F8;
  --myColor200: #90E0EF;
  --myColor300: #00B4D8;
  --myColor400: #0077B6;
  --myColor500: #03045E;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

.mainWrapper{
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.loginAddWrapper{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.1);
  backdrop-filter: blur(2px);
  z-index: 1;
}

.loginAddWindow{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 50vw;
  height: 40vh;
  background-color: white;
  border: 1px solid var(--myColor500);
  z-index: 2;
  
}

.loginAddTitle{
  font-size: 3rem;
  color: var(--myColor400);
}

.loginAddButton{
  width: 10vw;
  background-color: var(--myColor400);
  color: white;
  border-radius: 999999px;
  padding: 10px;
  transition: .3s;
}
.loginAddButton:hover{
  transform: scale(1.1);
}

.inputBox{
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  border-radius: 99999px;
  width: 70%;
  border: 2px solid var(--myColor400);
}

.passwordContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vh;
  width: 100%;
}

.loginAddIco{
  position: fixed;
  top:-4vh;
  right: -3vw;
  color: var(--myColor400);
  z-index: 3;
  font-size: 3rem;
  cursor: pointer;
}

.filmMenuWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  
}

.filmInput {
  flex: 0 0 auto;
  margin: 5vh auto;
  max-width: 300px;
  position: relative;
}

.filmInput input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid var(--myColor400);
  background-color: transparent;
  border-radius: 99999px;
  width: 100%;
  color: var(--myColor400);
}

.filmInput label {
  font-size: 100%;
  position: absolute;
  left: 5%;
  top: 25%;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: var(--myColor400);
}

.filmInput :is(input:focus)~label {
  transform: translateX(-10%) translateY(-85%) scale(.8);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: white;
}

.filmInput :is(input:focus, input:valid) {
  border-color: var(--myColor400);
}
.moduls {
  flex-shrink: 0;
}

.filmList {
  background-color: var(--myColor100);
  flex: 1;
  width: 100%;
}

.filmNavbarMain {
  display: flex;
  flex-direction: row;
  min-height: 15vh;
  width: 100%;
  margin: 2vh auto;
}